.bg-image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: whitesmoke;
    font-size: 350%;
}

.img1 {
    width: 15.95%;
    margin-left: 5%;
    margin-top: 2%
}

.img2 {
    width: 15.95%;
    margin-top: -17%;
    margin-right: 5%;
}

.img3 {
    width: 15.95%;
    margin-right: 5%;
    margin-top: -17.13%;
}



.puri {
    margin-top: 15%;
    margin-left: 7%;
}

.Text {
    margin-top: -4%;
    margin-left: 83%;
}

.sadguru {
    margin-top: 15%;
    margin-left: 9%;
}

.jay {
    margin-top: -5%;
}

.name1 {
    margin-bottom: 0%;
    color: #151765;
    font-size: 130%;
    font-weight: bold;
}

.name2 {
    margin-bottom: 0%;
    color: #151765;
    font-size: 130%;
    font-weight: bold;
}

.name3 {
    margin-bottom: 0%;
    color: #151765;
    font-size: 130%;
    font-weight: bold;
}

.name4 {
    margin-bottom: 0%;
    color: #151765;
    font-size: 130%;
    font-weight: bold;
}


.epi {
    margin-bottom: 0%;
    margin-left: 2.5%;
    font-weight: 500;
    color: #5a7184;
}

.head {
    color: #5a7184;
    font-weight: 500;
    font-size: 120%;
}

.I1:hover {
    filter: brightness(.8)
}

.pod {
    padding-top: 2%;
    margin-bottom: 0%;
    padding-left: 22%;
}

.section1 {
    background-color: #151765;
    color: whitesmoke;
    border-radius: 25px;
}

#Pod1:hover {
    background-color: #151765;
    color: whitesmoke;

}

.title {
    padding-top: 2%;
}

.btn {
    background-color: #151765;
    color: whitesmoke;
    margin-left: 86%;
    border-radius: 50px;
    font-weight: 600;
    padding-left: 2.5%;
    padding-right: 2.5%;
    font-size: 120%;
}

.bttn {
    background-color: #151765;
    color: whitesmoke;
    margin-left: 50%;
    border-radius: 50px;
    font-weight: 600;
    padding-bottom: .5%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    font-size: 120%;
}
