#main {
    background-color: #894bca;
}

.fim {
    padding-left: 56.29%;
    padding-bottom: 2%;
}

.mh {
    font-family: 'Bree serif';
    color: snow;
    margin-top: -35%;
    font-size: 600%;
}

#section2 {
    background-color: whitesmoke;

}

.store {
    margin-top: 18%;
    border-radius: 25px;
    background-color: whitesmoke;

}

.logo1 {
    padding-top: 6%;
    padding-left: 5%;
    width: 15%;

}

.iden {
    padding-top: 5%;
    font-family: 'Roboto';
    color: palevioletred;
    font-weight: 600;
    font-size: 220%;
    padding-left: 5%;
}

.name {
    font-family: 'Roboto';
    font-weight: bolder;
    font-size: 220%;
    margin-left: 3%;
}

.text {
    color: #7b8794;
    margin-left: 17%;
    margin-top: -7%;
    padding-bottom: 3%;
    font-size: 120%;
}

.text2 {
    color: #7b8794;
    margin-left: 17%;
    margin-top: -7%;
    padding-bottom: 6%;
    font-size: 120%;
}
